$btnErrorBg: #b01717;
$btnOkBg: #3cd03c;
$btnText: #f3f0f0;
$bgModal: #ffffff;
$borderModal: #807e7e;
$borderProductItem: #201f1f;
$btnSubmitBg: #3cd03c;
$borderCard: #000000;

//menu
$btnMenuBg: #807e7e;
$manuBg: #cccccc;
$containerBg: #e8e8e8;
$textMenuBtn: #ffffff;

// Footer
$footerBg: #cccccc;
$textFooter: #000000;
